/* ------------------------------------------------------*/
/* ---------->>> everything gets imported! <<<-----------*/
/* ------------------------------------------------------*/
/* ============================ RESET ============================ */
/* ===== Eric Meyer Reset ===== */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800");
@import url("http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700,400italic,700italic");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.33;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ===== CUSTOM RESET ===== */
object {
  outline: none;
  display: block;
  overflow: hidden;
}
/* force redraw on IE8, fix outline/scroll bug on Firefox 3.6, remove unnecessary margin (copied from swffit)  */
textarea {
  overflow: auto;
}
/* fix IE */
iframe {
  border: 0;
}
/* fix line-height [https://gist.github.com/413930] */
sup,
sub {
  line-height: 0;
  font-size: .75em;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ============================ /RESET ============================ */
/* -----------------------------------------------------*/
/* --------------->>> variables.less <<<----------------*/
/* -----------------------------------------------------*/
/* 1. @Font-Face — load my google fonts... */
/* 2. Load league gothic from my font server... */
@font-face {
  font-family: 'LeagueGothic';
  src: url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.eot');
  src: local('League Gothic'), local('LeagueGothic-Regular'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.woff') format('woff'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.ttf') format('truetype'), url('http://fonts.ookb.co/ff/leaguegothic-regular-webfont.svg#league_gothic_italicregular') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'LeagueGothic';
  src: url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.eot');
  src: local('League Gothic Italic'), local('LeagueGothic-Italic'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.woff') format('woff'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.ttf') format('truetype'), url('http://fonts.ookb.co/ff/leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
  font-style: italic;
  font-weight: normal;
}
/* declare some basic font-families */
.league-gothic {
  font-family: 'LeagueGothic', Calibri, Helvetica, Arial, Sans-serif;
  font-weight: normal;
  /* there aren't different weights, so this is important */
}
/** other general reusable classes/hacks **/
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.show-text {
  text-indent: 0%;
  white-space: normal;
  overflow: visible;
}
/* floats and clears */
.left,
.floatleft,
.float-left,
.leftfloat,
.left-float {
  float: left;
}
.right,
.floatright,
.float-right,
.rightfloat,
.right-float {
  float: right;
}
.clear,
.clearboth,
.clear-both,
.both-clear,
.bothclear {
  clear: both;
}
.clearleft,
.leftclear,
.clear-left,
.left-clear {
  clear: left;
}
.clearright,
.rightclear,
.clear-right,
.right-clear {
  clear: right;
}
.clearfix::after,
.clear-fix::after,
.cf::after,
.group::after {
  content: '';
  display: table;
  clear: both;
}
/* 
  center, left and right align text.
  it is my personal opinion that you should never use "text-align: justify;" on the web.
  browsers aren't good enough at typesetting justified text.
  I have not created those styles for that reason.
*/
.text-center,
.textcenter,
.center-text,
.centertext,
.align-center,
.center-align,
.aligncenter,
.centeralign {
  text-align: center;
}
.text-right,
.right-text,
.textright,
.righttext,
.align-right,
.right-align,
.alignright,
.rightalign {
  text-align: right;
}
.text-left,
.left-text,
.textleft,
.lefttext,
.align-left,
.left-align,
.alignleft,
.leftalign {
  text-align: left;
}
/* -----------------------------------------------------*/
/* ------------->>> /end variables.less <<<-------------*/
/* -----------------------------------------------------*/
/* styling those forms */
form input,
form button,
form select,
form textarea {
  font-family: 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
  font-size: inherit;
  line-height: normal;
  width: 100%;
  max-width: 100%;
  margin-bottom: .25em;
}
form .message #form-url {
  display: none;
}
* {
  /**/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /* type stuff */
  /**/
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -o-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  text-rendering: optimizeLegibility;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: black;
  color: white;
  font: 16px/1.5 'Open Sans', Calibri, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
a {
  color: white;
}
header a,
h1 a {
  text-decoration: none;
}
.inner p,
section p {
  font-weight: 300;
}
header,
main {
  background-image: url('https://ununsplash.imgix.net/photo-1429043794791-eb8f26f44081?fit=crop&fm=jpg&h=1250&q=75&w=1500&blend=44000000&bm=multiply');
  background-position: center center;
  background-size: cover;
  /**/
  padding: 7em 1em;
}
main {
  background-image: url('https://ununsplash.imgix.net/photo-1422433555807-2559a27433bd?fit=crop&fm=jpg&h=1250&q=75&w=1500&blend=44000000&bm=multiply');
}
footer {
  padding: 2em 1em;
  font-size: .9em;
}
input,
textarea {
  margin-bottom: .25em;
}
.btn-outline-inverse,
.fields input,
.message textarea,
.message input,
.message button.btn {
  background: rgba(0, 0, 0, 0.15);
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  display: block;
  padding: 6px 12px;
  width: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
}
.btn-outline-inverse,
.message button.btn {
  background: rgba(250, 250, 250, 0.65);
  color: black;
  text-align: left;
  vertical-align: center;
  cursor: pointer;
}
.fields input:focus,
.message textarea:focus,
.message input:focus {
  color: black;
  background: white;
  border-color: white;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active,
.message button.btn:hover,
.message button.btn:focus,
.message button.btn:active {
  background: rgba(0, 0, 0, 0.5);
  border-color: black;
  color: white;
}
.fields input,
.message input,
.message button.btn {
  height: 2em;
}
.message textarea {
  height: 6.5em;
}
.contact-details {
  margin-bottom: 1.5em;
}
form label {
  display: none;
}
/**
  Above here are "mobile first" styles
  meaning that everything works on the skiniest view
  we will add/edit/change styles only for wider views with media queries below this point
**/
/******/
@media screen and (min-width: 768px) {
  header {
    font-size: 1.33em;
  }
  h1 {
    font-size: 2em;
  }
  /* Full Screen BG */
  /* some helpful hints if you want to experiment: https://css-tricks.com/perfect-full-page-background-image/ & http://alistapart.com/article/supersize-that-background-please */
  header,
  main {
    text-align: right;
    height: 100vh;
    width: 100vw;
    /**/
    background-attachment: fixed;
    /**/
    padding: 0;
    border: none;
  }
  header .inner,
  main > section {
    position: absolute;
    bottom: 25%;
    right: 5em;
  }
  header .inner {
    width: 55%;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 10%;
    padding: 1em 1em 2em;
  }
  /* Contact Section
     **************************************/
  /** style placeholder text **/
  /* https://css-tricks.com/snippets/css/style-placeholder-text/ */
  ::-webkit-input-placeholder {
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  :focus::-webkit-input-placeholder {
    color: black;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  :focus::-moz-input-placeholder {
    color: black;
  }
  :-ms-input-placeholder {
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  :focus:-ms-input-placeholder {
    color: black;
  }
  #contact {
    width: 75%;
  }
  #contact .contact-details {
    float: left;
    width: calc(100% / 3 * 1);
    padding: .5em;
  }
  #contact .contact-details address {
    margin-top: 1em;
  }
  #contact .contact-details address,
  #contact .contact-details p {
    font-size: .9em;
    line-height: 1.4;
    margin-bottom: .25em;
  }
  #contact form {
    float: left;
    width: calc(100% / 3 * 2);
    padding: .5em;
  }
  #contact form .fields,
  #contact form .message {
    float: left;
    width: calc(100% / 2);
    padding: .5em;
  }
}
