* {
  position: relative;
}

body {
  background: black;
  color: white;
  font-family: @open-sans-stack;
  font-weight: 400;
}

/* Full Screen BG */
/* some helpful hints if you want to experiment: https://css-tricks.com/perfect-full-page-background-image/ & http://alistapart.com/article/supersize-that-background-please */
header, main {
  .text-right;
  height: 100vh;
  width: 100vw;
  /**/
  background-image: url('https://unsplash.it/2000/1500/?image=724'); // default to unsplash images, overide in the HTML with an inline style
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

main {
  background-image: url('https://unsplash.it/2000/1500/?image=720');  // default to unsplash images, overide in the HTML with an inline style
}

header .inner,
main > section {
  position: absolute;
  bottom: 25%;
  right: 5em;
  width: 50%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 10%;
  padding: 1em 1em 2em;
}

