
/* Full Screen BG */
/* some helpful hints if you want to experiment: https://css-tricks.com/perfect-full-page-background-image/ & http://alistapart.com/article/supersize-that-background-please */

body {
  background: black;
  color: white;
  font-family: @open-sans-stack;
  font-weight: 400;
}

header {
  .text-right;
}
